<h1>Room <%= @room.id %></h1>
<p>Number: <%= @room.number %></p>
<p>Type: <%= @room.room_type %></p>
<p>Price: <%= @room.price %></p>
<p>Status: <%= @room.status %></p>

<%= link_to "Back to Rooms", rooms_path %>
